<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>


  <link rel="stylesheet" href="./jquery-ui/jquery-ui.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  <link rel="stylesheet" href="dist/assets/style/all.css">
  <link rel="stylesheet" href="./assets/style/all.css">


</head>

<body>
  <div class="banner">
    <nav class="navbar navbar-expand-lg navbar-light navbar-bg">
      <div class="container">
        <a class="navbar-brand" href="#">
          <h1 class="h3 logo text-white">Nocobot</h1>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link text-primary" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ml-lg-3">
              <a class="nav-link text-white" href="#">Link</a>
            </li>
            <li class="nav-item dropdown ml-lg-3">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pages
              </a>
              <div class="dropdown-menu  pages" aria-labelledby="navbarDropdown">
                <a class="dropdown-item text-white" href="#">Action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-white" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-white" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class=" text-white text-bg text-center">
      <h2 class="mb-3">Dapibus Ligula Convallis</h2>
      <p class="mb-3">A massa etiam augue nunc lectus duis <br> eget libero non nisi lobortis suscipit praesent<br>
        viverra nam dapibus orci non erat
        aliquam erat volutpat.</p>
      <a href="#" class="btn btn-primary">GRAVIDA SEM NEQUE</a>
    </div>
  </div>
  <%- contents %>

    <section>
      <div class="contact bg-primary pt-5 pb-1">
        <div class="container">
          <ul class="row px-0">
            <li class="col-md-3">
              <div class="d-flex">
                <a href="#" class="text-lighter pt-1 mr-2"><i
                    class="fas fa-phone p-2 fa-lg border  rounded-circle"></i></a>
                <p class="font-weight-bold text-white">Give Us A Call:<br>+00 (123) 456 7890</p>
              </div>
            </li>
            <li class="col-md-3">
              <div class="d-flex">
                <a href="#" class="text-lighter pt-1 mr-2"><i
                    class="fas fa-phone p-2 fa-lg border  rounded-circle"></i></a>
                <p class="font-weight-bold text-white">Give Us A Call:<br>+00 (123) 456 7890</p>
              </div>
            </li>
            <li class="col-md-3">
              <div class="d-flex">
                <a href="#" class="text-lighter pt-1 mr-2"><i
                    class="fas fa-phone p-2 fa-lg border  rounded-circle"></i></a>
                <p class="font-weight-bold text-white">Give Us A Call:<br>+00 (123) 456 7890</p>
              </div>
            </li>
            <li class="col-md-3">
              <div class="d-flex">
                <a href="#" class="text-lighter pt-1 mr-2"><i
                    class="fas fa-phone p-2 fa-lg border  rounded-circle"></i></a>
                <p class="font-weight-bold text-white">Give Us A Call:<br>+00 (123) 456 7890</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <footer>
      <div class="friends ">
        <div class="container">
          <ul class="row px-0">
            <li class="col-md-3">
              <h3 class="text-white font-weight-bold h5 mb-6">
                Pellentesque Dictum</h3>
              <ul class="px-0">
                <li><a href="#" class="text-primary">Ultricies in molestie sed
                  </a></li>
                  <hr class="bg-secondary">
                <li><a href="#" class="text-primary">
                    Consectetuer nam sodales
                  </a></li>
                    <hr class="bg-secondary">
                <li><a href="#" class="text-primary">
                  Euismod tellus sed non
                </a></li>
                  <hr class="bg-secondary">
                <li><a href="#" class="text-primary">
                  Est etiam in eros curabitur
                </a></li>
                  <hr class="bg-secondary">
                <li><a href="#" class="text-primary">
                  Viverra dui nec arcu sed
                </a></li>
              </ul>
            </li>
            <li class="col-md-3">
              <h3 class="text-white font-weight-bold h5 mb-6">Fermentum Pellentesque</h3>
              <p class="text-secondary">Pede ullamcorper facilisis bibendum nulla elit gravida elit vel suscipit urna.</p>
              <div>
                <input type="text" name="name" id="name" placeholder="Name" class="form-control mb-3">
                <input type="text" name="Email" id="Email" placeholder="Emain" class="form-control mb-3">
                <input type="SUBMIT" name="SUBMIT" id="" value="SUBMIT" class="btn btn-primary">
              </div>
            </li>
            <li class="col-md-3">
              <h3 class="h5 text-white font-weight-bold mb-6">Nisi Nunc Velit Aliquam</h3>
              <p><a href="#">Sapien sit amet tortor nulla vulputate odio in varius tristique nisi urna.</a></p>
              <span class="text-secondary">Friday, 6th April 2045</span>
              <hr class="bg-secondary">
              <p><a href="#">Consequat erat id rutrum nisi magna vel tellus phasellus malesuada bibendum.</a></p>
              <span class="text-secondary">Thursday, 5th April 2045</span>
            </li>
            <li class="col-md-3">
                <h3 class="h5 text-white font-weight-bold mb-6">Lacinia Iaculis Nunc</h3>
                <ul class="row px-0 dddd">
                  <li class="col-4 mb-6">
                   <a href="#">
                     <img   src="https://images.unsplash.com/photo-1542206395-9feb3edaa68d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80" width="75" height="75" alt="">
                   </a>
                  </li>
                  <li class="col-4  mb-6">
                          <a href="#">
                            <img
                              src="https://images.unsplash.com/photo-1542206395-9feb3edaa68d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80" height="75" width="75"
                             alt="">
                          </a>
                  </li>
                  <li class="col-4  mb-6">
                      <a href="#">
                        <img
                          src="https://images.unsplash.com/photo-1542206395-9feb3edaa68d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80"
                          width="75" height="75" alt="">
                      </a>
                  </li>
                  <li class="col-4 mb-6">
                        <a href="#">
                          <img
                            src="https://images.unsplash.com/photo-1542206395-9feb3edaa68d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80"
                            width="75" height="75" alt="">
                        </a>
                  </li>
                  <li class="col-4 mb-6">
                        <a href="#">
                          <img
                            src="https://images.unsplash.com/photo-1542206395-9feb3edaa68d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80"
                            width="75" height="75" alt="">
                        </a>
                  </li>
                  <li class="col-4 mb-6">
                        <a href="#">
                          <img
                            src="https://images.unsplash.com/photo-1542206395-9feb3edaa68d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80"
                            width="75" height="75" alt="">
                        </a>
                  </li>
                  <li class="col-4 mb-6">
                        <a href="#">
                          <img
                            src="https://images.unsplash.com/photo-1542206395-9feb3edaa68d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80"
                            width="75" height="75" alt="">
                        </a>
                  </li>
                  <li class="col-4 mb-6">
                        <a href="#">
                          <img
                            src="https://images.unsplash.com/photo-1542206395-9feb3edaa68d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80"
                            width="75" height="75" alt="">
                        </a>
                  </li>
                  <li class="col-4 mb-6">
                        <a href="#">
                          <img
                            src="https://images.unsplash.com/photo-1542206395-9feb3edaa68d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80"
                            width="75" height="75" alt="">
                        </a>
                  </li>
                </ul>
            </li>
           
          </ul>
        </div>
      </div>
    </footer>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"></script>

    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>

    <script src="./assets/js/all.js"></script>

</body>

</html>